@import "_media";

@include media("tablet", "from") {
  .element-animation-left {
    opacity: 0;
    transition-duration: 1.2s;
    transition-property: opacity, transform;
    transform: translate(50%, 0);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  .element-animation-right {
    opacity: 0;
    transition-duration: 1.2s;
    transition-property: opacity, transform;
    transform: translate(-50%, 0);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.element-show {
  opacity: 1;
  transform: translate(0, 0);
}
